# Homework 01 - Numeric Types

### What is the difference between a float and an int

A float is number with decimal values while an int has integer values

### Make the output of the folowing line equal to 149 only by manipulating the order of operations

In [2]:
b = (5+7) * 2 + 5**3
print(b)

149

### Cause the following line to produce a float but still have the same result 

without using float(value)

In [5]:
print (5.0 + 7.0)

12.0

### Make it so the below statement prints an int instead of a float

In [4]:
a = 4.5 +7.5
print (int(a))

12

### Cause the following division to be wrong by manipulating the values

In [9]:
print (5.0//2)

2.0

### Fix the below code so you get the right result for a+b+c

In [12]:
a = 4
b = 10
c = 5

print (a + b + c)

19

### Write code below to calculate the remainder after dividing 55 by 7

In [13]:
print (55%7)

6

### What is 2 raised to the 20th power?

In [14]:
print (2**20)

1048576

### Show me a new example of a floating point error, not one of the ones used in the lecture

In [2]:
sum = 0
for i in [1,2,3,4,5]:
    sum += 2.8
    print(sum)

2.8
5.6
8.399999999999999
11.2
14.0

### Correct the error to make the following line of code return false

In [16]:
a = False

bool(a)

False

### Without deleting anything, make the code return True

In [17]:
print(4 == 4)

True

### By only changing one symbol, make the folling code False

In [18]:
print(17 >= 24)

False

### Make the following code False by adding a not

In [20]:
print(False or not True)

False

### Make the following statement False by adding parentheses

In [22]:
 print(False and not (False or True) and True)

False

### Make the following boolean more intuitive

In [78]:
print((6 == 9) > 7)

False

### Change to number to make the boolean false

In [30]:
bool(0)

False

### Change the string to make to boolean false

In [32]:
bool('')

False

### Give an example, other than the one in class, where two floating point values are not equal when they should be

In [14]:
1.1 + 6.6 == 7.7

False

### Chage d to make the sum equal to 7

does not need to be an int or float

In [76]:
c = -3 + 5j
d = 10 - 5j

c + d

(7+0j)

### What is the base 10 value of 0xf3

In [77]:
print((0xf3))

243

### What is 458 in binary?

In [35]:
bin(458)

'0b111001010'

### What is 0o43 in hex?

In [37]:
hex(0o43)

'0x23'

### Find the sum, using a function, or 4, 8, 38, -8, 9

In [39]:
def sum(*args):
    sum = 0
    for i in args:
        sum += i
    print(sum)
    
sum(4,8,38,-8,9)

51

### Determine the absolute value of 18-27 using a function

In [18]:
def abs(a,b):
    if a-b>0:
        c = a-b
    else:
        c = b-a
    return c

abs(a=18,b=27)

9

### Find the minimum of 93, 27, 3.5, 19, 487 using a function

In [19]:
def minimum(x):
    mini = x[0]
    for i in x:
        if i < mini:
            mini = i
    return mini

x = [93,27,3.5,19,487]

minimum(x)

3.5

### Find the maximum of 238, 382, 82, 2 using a function

In [72]:
def max(x):
    max = x[0]
    for i in x:
        if i > max:
            max = i
    return max
x = [238,382,82,2]
max(x)

382